
<div style=" display: flex; ">

    <div class="col-lg-1" style="background-color: #B8860B;" >
    </div>  
    <div class="col-lg-1" >
    </div>  
    <div class="col-lg-8" style="display: flex; flex-wrap: wrap; padding-top: 60px; padding-bottom: 60px;  ">
      
      <% @post.each do |post| %>
        <div style="width: 33%; padding-bottom: 30%; position: relative; margin: 0.1%; overflow: hidden;">
          
          <%= link_to post_path(post.id), style: 'display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;' do %>
            <%= image_tag post.get_image, style: 'width: 100%; height: 100%; object-fit: cover;' %>
          <% end %>
          
        </div>
      <% end %>
      <%= paginate @post %>
      
    </div>
    <div class="col-lg-1" >
    </div>  
    <div class="col-lg-1" style="background-color: #B8860B;" >
    </div>
    
</div>

