<div style=" display: flex; align-items: stretch;">    
  <div class="col-lg-1" style="background-color: #B8860B; min-height: 100vh;" >
  </div>
  
  <div class="col-lg-10" style = "margin-top:40px;">
    <h1 class="text-center">本当に退会しますか？</h1>
  
  
      <div class="text-center">
        <p>
          退会すると、会員登録情報や<br>
          これまでの購入履歴が閲覧できなくなります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
      </div>
      
      <div class="text-center" >
        <div style=" margin:20px;">
          <%= link_to "退会しない", root_path, :class => "btn btn-primary ms-3" %>
        </div>
        <div>
          <%= link_to "退会する", withdraw_user_path(current_user.name), method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
        </div>
      </div>
  
  </div>
  
  <div class="col-lg-1" style="background-color: #B8860B; min-height: 100vh;" >
  </div>
</div>